# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cur.execute('''SELECT * FROM employees e LEFT JOIN offices o USING(officeCode) WHERE city = "Boston";''').fetchall()

[('1188',
  'Firrelli',
  'Julie',
  'x2173',
  'jfirrelli@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA'),
 ('1216',
  'Patterson',
  'Steve',
  'x4334',
  'spatterson@classicmodelcars.com',
  '2',
  '1143',
  'Sales Rep',
  'Boston',
  '+1 215 837 0825',
  '1550 Court Place',
  'Suite 102',
  'MA',
  'USA',
  '02107',
  'NA')]

## Do any offices have no employees?

In [4]:
#Your code here
cur.execute('''SELECT * FROM offices LEFT JOIN employees USING(officeCode);''')

df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
# print(len(df))
# print(len(df[df.orderNumber.isnull()]))
df[df.employeeNumber.isnull()].head()

# It does not appear that there are any offices with no employees.

Empty DataFrame
Columns: [officeCode, city, phone, addressLine1, addressLine2, state, country, postalCode, territory, employeeNumber, lastName, firstName, extension, email, reportsTo, jobTitle]
Index: []

In [5]:
df.head(10)

,officeCode,city,phone,addressLine1,addressLine2,state,country,postalCode,territory,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle
0,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,,President
1,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1002,VP Sales
2,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1002,VP Marketing
3,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1056,Sales Manager (NA)
4,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1143,Sales Rep
5,1,San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1143,Sales Rep
6,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep
7,2,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,1143,Sales Rep
8,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,1143,Sales Rep
9,3,NYC,+1 212 555 3000,523 East 53rd Street,apt. 5A,NY,USA,10022,NA,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,1143,Sales Rep

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!